/* This is the reset for all the classes below*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap'); 

body {
    color: #000;
    font-size: 14px;
    background-color: #F9F9F9;
    font-family: 'Roboto', sans-serif;
    }

a{
    text-decoration: none;
    color: #000;
    /* Change font-weight to a class after branches merge */
    font-weight: 600;
}

#main {
    justify-items: center;
    width: 100%;
    padding: 30px 0;
}

.grey{color: #909090;}

.bold-text{font-weight: 600;}
.light-text{font-weight: 300;}

.bold-grey{color: #606060;}

.flexbox-display{display: flex;}

.side-p10{padding: 0 10px;}

.side-p40{padding: 0 40px;}

.pointer{cursor: pointer;}


.p-top{padding-top: 3px;}

/* Body */

/* Side bar */

#minivideo-box{ /*Container of all minivideo image + text*/
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    max-width: 1200px;
}

.minivideo-img{
    width: 220px;
    flex: 0 0 220px; /* This is for fixed width regarding resize */
}

.minivideo-text{
    flex-direction: column;
    width: 100%;
}

.three-dots{
    flex: 0 0 20px;
    justify-content: center;
}


/* Not ordered yet */
.circle { 
    width: 48px;
    height: 48px; 
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
    position: relative;

 }

 .child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
 }

.blue{background-color: #265CFF;}

.red{ background-color: #FF4D4D;}

.orange{background-color: orange;}

/* HEADER and NAVBAR */

.header {
    height: 56px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.nav-bar {
    width: 10%;
    text-align: center;
    align-items: center;
}

.logo {
    width: 15%;
}

#logo-img {
    width: 80px;
    padding-left: 20px;
    align-self: flex-start;
    justify-self: self-start;
}

.search-bar {
    width: 55%;
    align-self: center;
    justify-content: center;
}

#search-bar-input {
    width: 80%;
    background-color: #fff;
    border-color: rgb(233, 233, 233);
    border-right-color: transparent;
    border: thin solid border;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 16px;
    margin-left: 4px;
    padding: 1px 0 1px 10px;
    height: 32px;
}

#search-button {
    height: 32px;
    width: 60px;
    border-radius: 0 4px 4px 0;
    border-width: thin;
    border-color: #ccc;
    background-color: rgb(235, 235, 235);
}

#search-button:hover {
    background-color: rgb(223, 223, 223);
}

.icons {
    width: 32px;
    text-align: right;
}

.icons-menu{
    align-items: center;
}

/* Left Column Styiling (includes player, descriptions and comments) */

#column1 {
    width: 75%;
    margin-top: 25px;
}

#player {
    width: 100%;
    margin-left: 5px;
    text-align: right;
}

.video-title {
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 18px;
}

.description-menu {
    display: flex;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #E0E0E0;
    border-width: 1px;
    padding-bottom: 5px;
}

.video-stats {
    width: 25%;
    color: grey;
    font-size: 14px;
    padding-top: 10px;
    text-align: left;
}

.video-desc-buttons {
    width: 75%;
    text-align: right;
    padding-right: 8px;
}

.channel-subscribe {
    padding-top: 15px;
    display: flex;
}

.profile {
    width: 48px;
    border-radius: 50px;
    margin-right: 15px;
}

.profile img {
    border-radius: 50%;
}

#channel-name {
    font-size: 14px;
    /* Change font-weight to a class after branches merge */
    font-weight: 600;
    text-align: left;
    align-self: center;
}

.subscribe-button {
    align-self: center;
    border: none;
    /* Change font-weight to a class after branches merge */
    font-weight: 600;
    padding: 10px 10px 25px 10px; 
    font-size: 14px;
    color: white;
    background-color: #CC0000;
    width: 118px;
    height: 27px;
    margin-left: 63%;
    cursor: pointer;
}

.video-description {
    text-align: left;
    font-size: 14px;
    margin-top: 15px;
    padding-left: 60px;
    padding-right: 75px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    border-bottom-color: #E0E0E0;
    padding-bottom: 15px;
}
.video-description a {
    text-decoration: none;
    color: dimgrey;
    font-size: 13px;
}

a.fill-div {
    display: block;
    color: white;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/* STYLING FOR COMMENTS */

.text-comment{
    font-size: 14px;
    color: #444;
    line-height: 1.6em;
}
.circle { 
    width: 48px;
    height: 48px; 
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
    position: relative;

 }

 .child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
 }
 
 .comments-title{
    font-size: 16px; 
    padding: 15px 0;
 }