@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap');

/* Global */
body {
    color: #000;
    font-size: 14px;
    background-color: #F9F9F9;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

h1{
    font-size: 20px !important;
    font-weight: 400;
}

#main {
    justify-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
}

.grey{color: #909090;}
.bold-grey{color: #606060;}
.white{color: #fff;}
.bold-text {font-weight: 600;}
.light-text {font-weight: 300;}
.flexbox-display {display: flex;}
.side-p4 {padding: 0 4px;}
.side-p10 {padding: 0 10px;}
.side-p15{padding: 0 15px;}
.side-p40{padding: 0 40px;}
.pointer {cursor: pointer;}
.p-top {padding-top: 3px;}

.border-table {
    background-color: #fff;
    border: 1px solid #ebebeb;
    margin: 10px 0;
}

/* GENERAL LAYOUT STYLING*/ 

main {
    align-self: flex-start;
    align-items: flex-start;
    width: 71%;
}

#separator {width: 1%;}

aside {
    position: relative;
    top: -10px;
    width: 22%;
    padding: 10px;
    align-self: flex-start;
}

/* HEADER and NAVBAR */

.header {
    height: 56px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.nav-bar {
    width: 10%;
    text-align: center;
    align-items: center;
}

.logo {width: 15%;}

#logo-img {
    width: 80px;
    padding-left: 20px;
    align-self: flex-start;
    justify-self: self-start;
}

.search-bar {
    width: 55%;
    align-self: center;
    justify-content: center;
}

#search-bar-input {
    width: 80%;
    background-color: #fff;
    border-color: rgb(233, 233, 233);
    border-right-color: transparent;
    border: 1px solid;
    border-radius: 2px 0 0 2px;
    font-size: 16px;
    margin-left: 4px;
    padding: 1px 0 1px 10px;
    height: 32px;
}

#search-button {
    height: 32px;
    width: 60px;
    border-radius: 0 4px 4px 0;
    border-width: thin;
    border-color: #ccc;
    background-color: rgb(235, 235, 235);
}

#search-button:hover {
    background-color: rgb(223, 223, 223);
}

.icons {
    width: 32px;
    text-align: right;
}

.icons-menu {align-items: center;}

/* BODY BEGINS HERE */
/* The blue alert is below */

#contcontainer{
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#blue-alert{
    flex-wrap: wrap;
    margin: 15px 2% 0 2%;
    justify-content: center;
    width: 100%;
}

#balert-titcont{width: 100%;}

#balert-title{
    background-color: rgb(22, 122, 198);
    border: 0;
    width: 98%;
    color: #fff;
    font-weight: 600;
    line-height: 2em;
}

#balert-title2{
    background-color: rgb(22, 122, 198);
    border: 0;
    width: 2%;
    color: #fff;
    font-weight: 600;
    line-height: 2em;
    align-items: center;
    text-align: right;
    padding-right: 1%;
}

#balert-content{
    border: 2px solid rgb(22, 122, 198);
    width: 100%;
    line-height: 3em;
    flex-wrap: wrap;
    justify-content: space-between;
    }

#balcont-1{width: 50%;}

#balcont-2{
    width: 10%;
    text-align: center;
}

#balert-learnm{justify-self: right;}

.bluelink{
    font-weight: 500;
    text-decoration: none;
    color: rgb(22, 122, 198);
}


/* LEFT SIDE BAR STARTS HERE */

/* Container of all minivideo image + text */
.minivideo-box {
    display: flex;
    align-items: flex-start;
    max-width: 1200px;
    margin: 12px 0;
}


.minivideo-img {
    width: 180px;
    text-align: center;
    flex: 0 0 180px; /* This is for fixed width regarding resize */
}

.minivideo-text {
    flex-direction: column;
    width: 100%;
}

/* Left Column Styiling (includes player, descriptions and comments) */

#player {
    width: 100%;
    text-align: center;
}

.video-title {
    padding: 15px 0 5px 0;
    text-align: left;
    font-size: 18px;
}

.description-menu {
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 5px;
}

.video-stats {
    width: 25%;
    color: grey;
    padding-top: 10px;
    text-align: left;
}

.video-desc-buttons {
    width: 75%;
    text-align: right;
    padding-right: 8px;
}

.channel-subscribe {
    display: flex;
    padding-top: 15px;
}

.profile {
    width: 48px;
    border-radius: 50px;
    margin-right: 15px;
}

.profile img {border-radius: 50%;}

#channel-name {
    font-weight: 600;
    text-align: left;
    align-self: center;
}

.subscribe-button {
    align-self: center;
    border: none;
    padding: 10px 10px 25px 10px;
    color: #fff;
    background-color: #CC0000;
    width: 118px;
    height: 27px;
    margin-left: 66%;
    cursor: pointer;
}

.video-description {
    text-align: left;
    margin-top: 15px;
    border-bottom: 1px solid #E0E0E0;
}

.video-description a {
    text-decoration: none;
    color: dimgrey;
    font-size: 13px;
}

a.fill-div {
    display: block;
    color: white;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/* STYLING FOR COMMENTS */

#comments {
    padding: 15px 0;
    height: 100px;
    align-items: center;
    justify-content: center
}

#showmore-btt {
    border-width: 0;
    border-top: 1px solid #ebebeb;
    background-color: #fff;
    width: 100%;
    padding: 15px 0 15px 0;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
}

.next-autoplay {
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background: url("images/slide-btt.jpg") no-repeat right top;
}

.next-autoplay-position {margin-right: 40px;}

/* Footer styling begins here */

footer {
    flex-wrap: wrap;
    width: 100%;
    background-color: #fff;
    padding: 15px 40px;
}

#foot1 {
    width: 100%;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

#foot2 {
    width: 100%;
    flex-wrap: wrap;
}

.footer-btn {
    height: 28px;
    font-size: 11px;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: rgba(0, 0, 0, 0.046875) 0px 1px 0px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 2px;
    margin-right: 15px;
}

#footer-logo {padding-right: 25px;}

ul#footer-ul1 {
    width: 100%;
    list-style: none;
    padding: 0;
    margin-bottom: 8px;
}

ul#footer-ul1 li {
    display: inline;
    color: rgb(51, 51, 51);
    font-weight: 600;
    margin-right: 10px;
}


ul#footer-ul2 {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul#footer-ul2 li {
    display: inline;
    margin-right: 15px;
}